body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-color;
    
    main {
        width: 100%;
        max-width: $maxWidth-main;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
    
    section {
        margin-block: 50px;
    }
}