%buttonStyle {
    min-width: 100px;
    height: 37px;
    padding: 0 15px;
    border: none;
    border-radius: 60px;
    user-select: none;
    background: $main-color;
    color: #fff;

    transition: 200ms ease-in-out;

    &:hover, 
    &:active {
        background-color: darken($main-color, 10);
    }
}



