//  Couleurs
$main-color: #1D6154;
$second-color: #93532F;
$third-color: #B1663C;

$background-color: #FFFEF8; // #FFFEF8
$text-color: #3D3D3D; 


// RESPONSIVE 
$maxWidth-header: 1140px; 
$maxWidth-main: 950px; 

// SAFEZONE
$safezone-padding-inline: 20px;