footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2em 5em;
    background: #fff;

    a {
        color: #000;
        text-decoration: none;
        font-weight: 400;
        &:hover {
            font-weight: 500;
            color: $second-color;
        }
    }
}