@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");
form input[type=submit], #modalAddWork .addWorksForm .submitWorks, #modalGallery .btnContainer button, .portfolio #filters .btnFilter {
  min-width: 100px;
  height: 37px;
  padding: 0 15px;
  border: none;
  border-radius: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #1D6154;
  color: #fff;
  transition: 200ms ease-in-out;
}
form input[type=submit]:hover, #modalAddWork .addWorksForm .submitWorks:hover, #modalGallery .btnContainer button:hover, .portfolio #filters .btnFilter:hover, form input[type=submit]:active, #modalAddWork .addWorksForm .submitWorks:active, #modalGallery .btnContainer button:active, .portfolio #filters .btnFilter:active {
  background-color: #113a32;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalScaleIn {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes modalFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalScaleOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.shake {
  animation: errorSubmit 300ms ease-in-out;
}

@keyframes errorSubmit {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
*, body {
  font-family: "Work Sans";
}

h1 {
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #93532F;
}
h1 span {
  font-family: "Work Sans";
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #B1663C;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
  margin-bottom: 1em;
}

h3 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 24px;
  color: #3D3D3D;
}

p,
figcaption {
  font-family: "Work Sans";
  font-weight: 400;
  color: #3D3D3D;
}

button,
input[type=submit] {
  font-family: "Syne";
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

input,
select {
  font-family: "Syne";
  font-size: 1.1em;
}

textarea {
  font-family: "Syne";
  font-size: 1em;
  color: #000;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFEF8;
}
body main {
  width: 100%;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
body section {
  margin-block: 50px;
}

header {
  width: 100vw;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding-inline: 20px;
}

.logoHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.navBar__link {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
.navBar__link:hover {
  font-weight: 500;
  color: #93532F;
}
.navBar__icon {
  height: 22px;
  width: 22px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2em 5em;
  background: #fff;
}
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
footer a:hover {
  font-weight: 500;
  color: #93532F;
}

.introduction {
  width: 100%;
  max-width: 950px;
  display: flex;
  align-items: center;
}
.introduction figure {
  flex: 1;
}
.introduction img {
  display: block;
  width: 80%;
}
.introduction article {
  flex: 1;
}
.introduction p {
  margin-bottom: 0.5em;
  padding-inline-end: 20px;
}

.portfolio {
  width: 100%;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .portfolioTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 2em;
}
.portfolio .portfolioTitle h2 {
  margin: 0;
}
.portfolio .portfolioTitle .editButton {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.portfolio .portfolioTitle .editButton:hover {
  color: #93532F;
}
.portfolio .portfolioTitle .editButton:hover p {
  color: #93532F;
}
.portfolio #filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2em;
}
.portfolio #filters .btnFilter {
  background: transparent;
  color: #1D6154;
  border: solid 1px #1D6154;
  border-radius: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 200ms ease-in-out;
}
.portfolio #filters .btnFilter:hover {
  background: rgba(29, 97, 84, 0.3);
}
.portfolio #filters .btnFilter.activeFilter {
  background: #1D6154;
  color: #fff;
}
.portfolio #gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.portfolio #gallery .workContainer {
  transform-origin: top;
  animation: revealWork 600ms ease-out both;
}
@keyframes revealWork {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.portfolio #gallery img {
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  width: 50%;
  text-align: center;
}
.contact .unable {
  background: grey;
}
.contact .formContactError {
  text-align: center;
  color: rgb(200, 0, 0);
}

#login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login form {
  width: 100%;
  max-width: 500px;
}
#login form .displayError,
#login form .forgetPassword {
  text-align: center;
  margin: auto;
  color: #3D3D3D;
  line-height: 1.7rem;
}
#login form .displayError {
  color: rgb(200, 0, 0);
}
#login form .forgetPassword:hover {
  color: #93532F;
}
#login .unable {
  background: grey;
}
#login .loginError {
  animation: errorSubmit 300ms ease-in-out;
}

@keyframes errorSubmit {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.editBanner {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  inset: 0;
  z-index: 2;
  background: #000;
}
.editBanner .icon,
.editBanner .text {
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modalFadeIn 300ms ease-in-out;
}
.modal[aria-hidden=true] {
  animation-name: modalFadeOut;
}
.modal[aria-hidden=true] .modal__wrapper {
  animation-name: modalScaleOut;
}
.modal .modalWrapper {
  overflow: auto;
  position: relative;
  top: 10px;
  width: 80vw;
  max-width: 630px;
  max-height: 90vh;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  animation: modalScaleIn 300ms ease-in-out;
}
.modal .modalWrapper__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal .modalWrapper__header__navbar {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
.modal .modalWrapper__header__navbar #prevBtn,
.modal .modalWrapper__header__navbar #closeBtn {
  cursor: pointer;
}
.modal .modalWrapper__header__title {
  text-align: center;
  margin-bottom: 35px;
}
.modal .modalWrapper__content {
  margin-inline: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modalGallery .thumbnails {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
#modalGallery .thumbnails .thumbnail {
  position: relative;
}
#modalGallery .thumbnails .thumbnail img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
#modalGallery .thumbnails .thumbnail .deleteWorkBtn {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
  transition: all 200ms ease-out;
}
#modalGallery .thumbnails .thumbnail .deleteWorkBtn:hover {
  transform: scale(1.1);
  background: red;
}
#modalGallery .btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: solid 1px grey;
  margin-top: 35px;
  padding-top: 20px;
}
#modalGallery .btnContainer button {
  width: 230px;
  cursor: pointer;
}

#modalAddWork .addWorksForm {
  width: 100%;
}
#modalAddWork .addWorksForm .imgContainer {
  width: 100%;
  height: 170px;
  background: #e8f1f6;
  overflow: hidden;
}
#modalAddWork .addWorksForm .imgContainer__add {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#modalAddWork .addWorksForm .imgContainer__add__icon {
  font-size: 70px;
  color: #b9c5cc;
}
#modalAddWork .addWorksForm .imgContainer__add__button {
  width: 170px;
  margin-block: 5px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  background: #cbd6dc;
  color: #306685;
  border: none;
  border-radius: 36px;
}
#modalAddWork .addWorksForm .imgContainer__add__button:hover, #modalAddWork .addWorksForm .imgContainer__add__button:active {
  background: #adbec7;
}
#modalAddWork .addWorksForm .imgContainer__add__text {
  font-size: 0.7rem;
}
#modalAddWork .addWorksForm .imgContainer .previewImg {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#modalAddWork .addWorksForm .inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px grey;
  padding-bottom: 35px;
}
#modalAddWork .addWorksForm .submitWorks {
  width: 230px;
  cursor: pointer;
}
#modalAddWork .addWorksForm .submitWorks.unable {
  background: grey;
}
#modalAddWork .addWorksForm .displayError {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  color: rgb(200, 0, 0);
}

form {
  text-align: left;
  display: flex;
  flex-direction: column;
}
form label {
  color: #3D3D3D;
  margin: 2em 0 1em 0;
}
form input,
form select {
  height: 50px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 10px;
}
form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  max-width: 100%;
  min-height: 150px;
  resize: vertical;
  padding: 10px;
}
form input[type=submit] {
  width: 180px;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-inline: auto;
}